BasedOnStyle: llvm

IndentWidth: 2
AccessModifierOffset: -2

ColumnLimit: 120

AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false

AlwaysBreakTemplateDeclarations: true

AllowShortFunctionsOnASingleLine: Empty

BreakBeforeBinaryOperators: NonAssignment

BreakConstructorInitializersBeforeComma: true

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2

PointerAlignment: Left
SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 1

BreakStringLiterals: true
