# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Binaries
bin/
nbproject/

# Dependencies
*.d

# Eclipse project files
.settings/
.project
.cproject

#build file
build-config.mk

#qt project files
crag.config
crag.creator
crag.creator.user
crag.creator.user.2.6pre1
crag.files
crag.includes
build

#CLion default build dir
cmake-build-*
