# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Binaries
bin/
nbproject/

# Dependencies
*.d

# Eclipse project files
.settings/
.project
.cproject

#build file
build-config.mk